<!DOCTYPE html><html lang='en' class=''>
<head>
  <title><%- portal("title") %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=medium-dpi" />
  <link rel="stylesheet" href="<%- portal("url") %>/assets/icons.min.css" />
  <link rel="stylesheet" href="<%- portal("url") %>/assets/bootstrap.min.css" />
  <link rel="stylesheet" href="<%- portal("url") %>/assets/style.css" />
</head>
<body>
<div class="container mavis">
  <div class="row">
    <div class="card shadow">
      <div class="card-header text-center">
        <h2><%- portal("title") %></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Your time:</strong> <strong class="float-right timer">00:00:00</strong></li>
        <li class="list-group-item"><strong>Data Capping:</strong> <strong class="float-right data-capping"><i class="fas fa-infinity"></i></strong></li>
        <li class="list-group-item">
          <strong>Internet:</strong>
          <button class="float-right btn btn-success btn-sm btn-connect">Connect</button>
        </li>
      </ul>
      
      <div class="card-header tabs">
        <ul class="nav nav-tabs card-header-tabs  nav-justified"  role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#insertCoin" data-toggle="tab" role="tab" aria-controls="insertCoin" aria-selected="true">Insert Coin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#vouchers" data-toggle="tab"  role="tab" aria-controls="vouchers">Vouchers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#promos" data-toggle="tab"  role="tab" aria-controls="promos">Promos</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="insertCoin" role="tabpanel" >
          <div class="card-body text-center">
            <% if (plugins[`universal-coinslot`] && plugins[`universal-coinslot`].active) { %>
              <ul class="list-group text-left">
                <li class="list-group-item hide"><strong>Near Coin Box?</strong> <span class="float-right nearcoinbox"><i class="fas fa-spinner fa-pulse"></i> <span>looking...</span></span></li>
                <li class="list-group-item"><strong>Your turn?</strong> <span class="float-right myturn"><i class="fas fa-spinner fa-pulse"></i> <span>waiting...</span></span></li>
                <li class="list-group-item">
                  <strong>Insert Coin now?</strong> 
                  <button class="btn btn-secondary float-right btn-sm btn-insert-coin" data-backdrop="static" data-keyboard="false" disabled="disabled" data-toggle="modal" data-target="#insertcoin">Confirm</button>
                  <p class="float-left">You must <strong>press confirm</strong> button before inserting coin!</p>
                </li>
              </ul>
            <% } else { %>
              <ul class="list-group text-left">
                <li class="list-group-item"><strong>Coin Service:</strong> <span class="float-right voucher-status"><i class="fas fa-times"></i> <span>inactive</span></span></li>
              </ul>
            <% } %>
          </div>
        </div>
        <div class="tab-pane" id="vouchers" role="tabpanel">
          <div class="card-body text-center">
            <% if (plugins[`pisowifi-voucher`] && plugins[`pisowifi-voucher`].active) { %>
            <div class="voucher-form">
              <div class="form-group">
                <h5 class="card-title">Have Voucher Code?</h5>
                <input type="text" class="form-control voucher-code">
              </div>
              <button type="button" class="btn btn-primary btn-block btn-voucher" disabled="disabled">Submit Voucher</button>
              <div class="voucher-result"></div>
            </div>
            <% } else { %>
            <ul class="list-group text-left">
              <li class="list-group-item"><strong>Voucher Service:</strong> <span class="float-right voucher-status"><i class="fas fa-times"></i> <span>inactive</span></span></li>
            </ul>
            <% } %>
          </div>
        </div>
        <div class="tab-pane" id="promos" role="tabpanel">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Free 30 minutes daily:</strong>
                <button class="float-right btn btn-secondary btn-sm" disabled="disabled">Get</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Device IP:</strong>
          <strong class="float-right device-ip"><%- ip %></strong>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade" id="insertcoin" tabindex="-1" role="dialog" aria-labelledby="insertcoin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>Insert Coin Now</h3>
        <h4 class="wait-timer">Waiting for <span class="seconds-timer"></span></h4>
        <div class="progress insert-coin">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
        </div>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item"><strong>Your time:</strong> <strong class="float-right timer">00:00:00</strong></li>
        </ul>
        <div class="coin-result"></div>
        <button type="button" class="btn btn-primary btn-sm btn-cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script src='<%- portal("url") %>/assets/jquery.min.js'></script>
<script src='<%- portal("pisowifi_js") %>/pisowifi.js'></script>
<script src='<%- portal("url") %>/assets/bootstrap.min.js'></script>
<script src='<%- portal("url") %>/assets/howler.min.js'></script>
<script type="text/javascript">
  var audio = {
    coindrop : {
      mp3: '<%- portal("url") %>/assets/coin.mp3',
      webm: '<%- portal("url") %>/assets/coin.webm',
    },
    addtime : {
      mp3: '<%- portal("url") %>/assets/addtime.mp3',
      webm: '<%- portal("url") %>/assets/addtime.webm',
    }
  }
</script>
<script src='<%- portal("url") %>/assets/app.js'></script>
</body></html>