.card {
  margin: 0 auto;
  max-width: 360px; 
  width: 100%;
}
.nav-tabs .nav-link {
  white-space: nowrap;
}
.container.mavis {
  padding: 5px;
}
.container.mavis .row {
  margin: 0;
}
.container.mavis .card-header.tabs {
  padding: 5px 5px 0;
}
.container.mavis .card-header.tabs .nav-tabs{
  margin: 0;
}

.modal-dialog .list-group-item {
  margin: 20px 0;
}
.voucher-result .alert {
  margin-top: 20px;
  margin-bottom: 0;
}
.hide {
  display: none;
}